body{
	width: 90%;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
	padding-left: 35px;
}
.new{
	padding-top: 15px;
	padding-bottom: 10px;
	
}
.footer{
	padding-top: 15px;
	background-color: #eeeeee;
	text-align: center;
	width: 107%;
}
#center{
	text-align: center;
}