body{
	width: 90%;
	padding-top: 15px;
	padding-bottom: 10px;
	 
	padding-left: 35px;
}
.produce {
	
	background-color: #eeeeee;
	padding-top: 15px;
	padding-bottom: 10px;

}
.col-md-2{
	background-image: url(content.png);
}
.content {
	
}
.sp{
	text-align: center;
	margin: auto;
}
.new{
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: left;
}
.footer{
	padding-top: 15px;
	background-color: #eeeeee;
	text-align: center;
	width: 107%;
}
#center{
	text-align: center;
}