body{
	width: 90%;
	padding-top: 15px;
	padding-bottom: 10px;
	 
	padding-left: 35px;
}

.container{
	position: relative;
}

.menu{
	color: red;
	clear: both;
	position: fixed;
	z-index: 100000;
}
.produce {
	
	background-color: #f8f8f9;
	padding-top: 15px;
	padding-bottom: 10px;

}
.col-md-2{
	background-image: url(content.png);
	background-repeat: no-repeat;
}
.col-md-4{
	padding-left: 70px;
}
.content {
	
}
.sp{
	text-align: center;
	margin: auto;
}
.new{
	background-image: url(new0.png);
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: left;
}
.new1{
	padding-left: 70px;
}
.footer{
	padding-top: 15px;
	background-color: #f8f8f9;
	text-align: center;
	width: 107%;
}
#center{
	text-align: center;
}